examples/Capture and Repeat Example.json
[
    {
        "id": "425c2ffc692b6f08",
        "type": "msg-repeater",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "c4daf6e907b0b923"
            ]
        ]
    },
    {
        "id": "e402feb314f26bb1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Capture",
        "props": [
            {
                "p": "capture",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "425c2ffc692b6f08"
            ]
        ]
    },
    {
        "id": "f73f2541e25985fb",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Test Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "jsonPayload",
                "v": "{\"key1\":\"value1\", \"list\": [\"first\", \"second\"]}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Great day to be alive",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "425c2ffc692b6f08"
            ]
        ]
    },
    {
        "id": "f6423e902816d493",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Repeat",
        "props": [
            {
                "p": "repeat",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "425c2ffc692b6f08"
            ]
        ]
    },
    {
        "id": "c4daf6e907b0b923",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "666071d5abaca966",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Start Capture",
        "info": "",
        "x": 530,
        "y": 540,
        "wires": []
    }
]